<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WindowsFormServer.Properties.Settings>
      <setting name="CheckLicense" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsFormServer.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <WindowsFormClient.Properties.Settings>
      <setting name="RemoteIP" serializeAs="String">
        <value>net.tcp://127.0.0.1:45100/Service1</value>
      </setting>
      <setting name="VisionPath" serializeAs="String">
        <value />
      </setting>
    </WindowsFormClient.Properties.Settings>
  </userSettings>
</configuration>