<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WindowsFormServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WindowsFormClient.Properties.Settings>
      <setting name="CheckLicense" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WcfServer" serializeAs="String">
        <value>net.tcp://localhost:8080/Service1</value>
      </setting>
    </WindowsFormClient.Properties.Settings>
    <WindowsFormServer.Properties.Settings>
      <setting name="CheckLicense" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsFormServer.Properties.Settings>
  </applicationSettings>
</configuration>